{% extends 'UedayoHabookBundle::layout.html.twig' %}

{% block body %}
<h1>Add Book</h1>
<form action="{{ path('book_new') }}" method="post" {{form_enctype(form)}} novalidate>
    {{ form_widget(form) }}
    <input type="submit" value="Save Book" />
</form>
{% endblock %}